{{- $isWSL := false -}}
{{- if hasKey .chezmoi.kernel "osrelease" -}}
{{-   if or (contains "microsoft" (lower .chezmoi.kernel.osrelease)) (contains "wsl" (lower .chezmoi.kernel.osrelease)) -}}
{{-     $isWSL = true -}}
{{-   end -}}
{{- end -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    isWSL = {{ $isWSL }}
