format = """
$directory\
$git_branch\
$git_status\
$rust\
$nodejs\
$python\
$golang\
$cmd_duration\
$line_break\
$character"""

scan_timeout = 10

[character]
success_symbol = "[❯](bold {{ .colors.cyan }})"
error_symbol = "[❯](bold {{ .colors.pink }})"

[directory]
truncation_length = 4
style = "bold {{ .colors.blue }}"
read_only = " 🔒"

[git_branch]
symbol = " "
style = "bold {{ .colors.purple }}"
format = "on [$symbol$branch]($style) "

[git_status]
style = "bold {{ .colors.pink }}"
format = '([\[$all_status$ahead_behind\]]($style) )'
conflicted = "="
ahead = "⇡"
behind = "⇣"
diverged = "⇕"
untracked = "?"
stashed = "$"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

[cmd_duration]
min_time = 2000
format = "took [󱎫 $duration](bold {{ .colors.yellow }}) "

[nodejs]
symbol = "󰎙 "
style = "{{ .colors.green }}"
format = "via [$symbol($version)]($style) "

[rust]
symbol = "🦀 "
style = "bold {{ .colors.orange }}"
format = "via [$symbol($version)]($style) "

[python]
symbol = " "
style = "bold {{ .colors.yellow }}"
format = "via [$symbol($version)]($style) "

[golang]
symbol = " "
style = "bold {{ .colors.cyan }}"
format = "via [$symbol($version)]($style) "
